@import '../abstracts/variables';

.dice-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $neon-green;
    width: fit-content;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    bottom: -55px;
    margin: 0 auto;

    &:hover{
        box-shadow: 0 0 25px $neon-green;
    }
}