@import '../abstracts/variables';

section {
    font-size: $font-size-quote;
    font-family: $font-family;
    font-weight: $font-weight;
    color: $light-cyan;
    text-align: center;
    margin: 1em 0;
    line-height: 2.2rem;
}